flows.json
[{"id":"a419d66d.637e08","type":"tab","label":"IOT Internship UI","disabled":false,"info":""},{"id":"a5901f78.d92ac","type":"ibmiot in","z":"a419d66d.637e08","authentication":"apiKey","apiKey":"1a74a213.0d73ee","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"RaspBerrry_Pi_3_B","applicationId":"","deviceType":"IOT_Device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":276,"wires":[["fd681ce6.ff6ba","e8d8e713.47b168","7bc86090.b2d15","c7b38035.45ce2"]]},{"id":"fd681ce6.ff6ba","type":"debug","z":"a419d66d.637e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":276,"wires":[]},{"id":"e8d8e713.47b168","type":"function","z":"a419d66d.637e08","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":339,"wires":[["fd681ce6.ff6ba","e6bd6f43.aa364"]]},{"id":"7bc86090.b2d15","type":"function","z":"a419d66d.637e08","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":219,"wires":[["fd681ce6.ff6ba","5ac75205.e6af2c"]]},{"id":"c7b38035.45ce2","type":"function","z":"a419d66d.637e08","name":"Soil Temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":139,"wires":[["fd681ce6.ff6ba","3ae61c89.aaf3b4"]]},{"id":"3ae61c89.aaf3b4","type":"ui_gauge","z":"a419d66d.637e08","name":"","group":"e21642f5.8c198","order":0,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#006100","#e65000","#1f12d9"],"seg1":"","seg2":"","x":710,"y":76,"wires":[]},{"id":"e6bd6f43.aa364","type":"ui_gauge","z":"a419d66d.637e08","name":"","group":"2efc91d6.23bace","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#598b9b","#e600c7","#babc24"],"seg1":"","seg2":"","x":690,"y":396,"wires":[]},{"id":"5ac75205.e6af2c","type":"ui_gauge","z":"a419d66d.637e08","name":"","group":"8997cae5.c3a448","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#6200b3","#00a1e6","#f20707"],"seg1":"","seg2":"","x":680,"y":156,"wires":[]},{"id":"e920dc5e.e778a","type":"http request","z":"a419d66d.637e08","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad&appid=baface9c17d8e2e205868a772035aaa3","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":40,"wires":[["fd681ce6.ff6ba"]]},{"id":"457fb206.4127ec","type":"inject","z":"a419d66d.637e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":150,"y":87,"wires":[["e920dc5e.e778a"]]},{"id":"12210406.a0c98c","type":"ibmiot out","z":"a419d66d.637e08","authentication":"apiKey","apiKey":"1a74a213.0d73ee","outputType":"cmd","deviceId":"RaspBerrry_Pi_3_B","deviceType":"IOT_Device","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":459,"wires":[]},{"id":"67ddeb4c.e51d64","type":"ui_button","z":"a419d66d.637e08","name":"","group":"2fa2b31a.33940c","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"Starts Motor","color":"","bgcolor":"Red","icon":"","payload":"{\"command\":\"MotorON\"}","payloadType":"json","topic":"","x":400,"y":439,"wires":[["12210406.a0c98c","fd681ce6.ff6ba"]]},{"id":"c40527d9.bf1b48","type":"ui_button","z":"a419d66d.637e08","name":"","group":"2fa2b31a.33940c","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"Stops Motor","color":"","bgcolor":"Red","icon":"","payload":"{\"command\":\"MotorOFF\"}","payloadType":"json","topic":"","x":410,"y":499,"wires":[["12210406.a0c98c","fd681ce6.ff6ba"]]},{"id":"1a74a213.0d73ee","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e21642f5.8c198","type":"ui_group","z":"","name":"Smart Agriculture Soil-Moisture","tab":"1778f0d3.ccca1f","order":1,"disp":true,"width":"6","collapse":false},{"id":"2efc91d6.23bace","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"1778f0d3.ccca1f","order":3,"disp":true,"width":"6","collapse":false},{"id":"8997cae5.c3a448","type":"ui_group","z":"","name":"Humidity","tab":"1778f0d3.ccca1f","order":2,"disp":true,"width":"6","collapse":false},{"id":"2fa2b31a.33940c","type":"ui_group","z":"","name":"Motor Command","tab":"1778f0d3.ccca1f","order":4,"disp":true,"width":"6","collapse":false},{"id":"1778f0d3.ccca1f","type":"ui_tab","z":"","name":"Smart Agriculture System Using IOT Home page","icon":"dashboard","disabled":false,"hidden":false}]